*.zip
*.log
*.stat
logs/
demos/
missingasset.csv
mpStats
mpClassSets
*.exe
compiled/
console_mp.log*
zmStats
*.iwd
*.ff
*.sabl
*.sabs
.vscode
*.7z
zone_dump/
scriptdata/
partclassification.csv
partclassification_mp.csv
